<h1>Welcome to Tic Tac Toe</h1>

<h2>Please enter Player name:<h2>

<form action = 'player' method = post> 

Player 1: <input type = 'text' name = 'player_1'>

Player 2: <input type = 'text' name = 'player_2'>

<input type = 'submit' value = 'enter'>

</form>