<!doctype html>
<html>
	<head>
		<title>Tic Tac Toe</title>
	</head>
	<body background="http://media.istockphoto.com/photos/green-grass-football-pitch-picture-id537211737?k=6&m=537211737&s=170667a&w=0&h=eWFs3_M4djO5LDtgDzkvRxROHb4-H_SQYraLJrDApOY=">
		<style>
		@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Quicksand|Raleway');
			body
			{
				font-family: 'Raleway', sans-serif;
				color: white;
				font-size: 20pt;
			}
	select {
		width: 150px;
		height: 35px;
	    padding:3px;
	    margin: 0;
	    background: lightgreen;
	    color:green;
			font-size: 20px;
			font-style: bold;
	    border:none;
	    outline:none;
	    display: inline-block;
	    appearance:none;
	    cursor:pointer;
	}
	input[type=submit]
	{
		padding:5px 15px;
		width:150;
		height: 35px;
		color:lightgreen;
		background:#666666;
		border-color:lightgreen;
	  cursor:pointer;
	  /*-webkit-border-radius: 5px;
		border-radius: 5px;*/
	}
	h2
	{
		font-family: 'Quicksand', sans-serif;
	}
		</style>
	<center><h1>Welcome to Tic-Tac-Toe!</h1>
	<p>Choose human, simple ai, or sequential ai for each player.</p>
	<h4>Player one:</h4>
		<form action = "/input" method = "post">
			<select name = "player_one">
			<option value = "human">human</option>
			<option value = "simple ai">simple ai</option>
			<option value = "sequential ai">sequential ai</option>\
			</select>
			<br>
	<h4>Player two:</h4>
			<select name = "player_two">
			<option value = "human">human</option>
			<option value = "simple ai">simple ai</option>
			<option value = "sequential ai">sequential ai</option>\
			</select>
			<br>
			<br>
			<input type = "submit" value = "NEXT">
		</form>
		</center>
	</body>
</html>
