<!doctype html>
<html>
	<body>
	<center>

	<h2><font face = "fantasy">Tic Tac Toe</font></h2>
	<hr color = "lightblue" width = "20%">
	<hr color = "black" width = "25%">
	<hr color = "lightblue" width = "30%">
	
	<p>Player one, go first.</p>


	

	</center>
	</body>
</html>