<html>

<head>
<!-- Displays text prompt to user. -->
<div class="h1 transbox"> Hello and welcome to Tic-Tac-Toe! Please enter your name.
</div><br><br><br><br>
</head>
<body class="body">

<!-- posts to the name view. -->
<center><form action='name' method='post'>

<!-- adds an input box and calls the input name_input. -->
		<input type='text' required name='name_input'>

<!-- adds a button that submits your input and gives it text "Push It" -->
		<input type='submit' value = 'Push It'>

</form></center>
</body>
</html>