<!DOCTYPE html>
<html>
<head>
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="h1"><h1><p class="center"></p></h1>

</div>
</body>
<%=yield%>
</html>
<div class="navbar_color footer">

<p class="center">Posted by: April Blair</p>
<p>Contact Information: <a href="http://minedminds.org">Mined Minds website</a>.</p>
</div>
</footer>