<!doctype html>
<html>
	<body>
	<center><h2><font face = "fantasy">Good Luck!</font></h2>
	<hr color = "lightblue" width = "20%">
	<hr color = "black" width = "25%">
	<hr color = "lightblue" width = "30%">
	<form action = "/start_game" method = "post">


		<p>--Player One, <%=player_one_marker%> || Player Two, <%=player_two_marker%>--</p>
	
		
<button type = "submit" value = "Start game">Select Move!</button>
		</form>
	</center>
	</body>
</html>